<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesi칩n</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="form-container">
        <h1 class="titleIniciaSesion">Inicia Sesi칩n</h1>
       
        <form id="login-form">

            <div class="userInput-container">
                <label for="user" class="sr-only">User</label>
                <input type="text" name="user" id="user" placeholder="Nombre de usuario">
                

                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" placeholder="Contrase침a">
            </div>    
        
            <button type="submit">Iniciar sesi칩n</button>

        </form>
    </div>
</body>
</html>