<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesión</title>
    <link rel="stylesheet" href="../css/registro.css">
</head>
<body>
    <div class="form-container">

        <h1 class="titleIniciaSesion">Registro minero</h1>
       
        <form id="register-form">

            <div class="userInput-container">
                <label for="user" class="sr-only">Cédula</label>
                <input type="text" name="cedula" id="cedula" placeholder="Cedula de usuario">
            </div>    
        
            <button type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>